.mLoginWrapper {
	margin-top: 0%;
	margin-left: 35%;
	margin-right: 35%;
}

.loginTitle {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: black;
	margin: 0px 0px 40px 0px;
}

.mloginLabel {
	display: inline-block;
	text-align: right;
	font-size: 18px;
}

.mloginInput {
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.loginGroup {
    flex-direction: column;
    margin: 0px 0px 16px;
}



#mLoginBtn{
	text-align: center;
	margin: 0px 0px 5px 0px;
}

#memEnrollBtn{
	margin: 5px 0px 5px 0px;
}

#mLoginSubmit{
	background-color: rgb(32, 51, 84);
	color: white;
}

.contain{
	background-color: rgb(32, 51, 84);
	color: white;	
}



.find_mId{
	font-size: 13px;
}

.find_mPw{
	font-size: 13px;
}

