<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.kh.mvc.merchant.model.mapper.MerchantMemberMapper">
 	<sql id="selectMerchantMemberSql">
 		SELECT  MER_NO, 
			    MER_ID, 
			    MER_PASSWORD, 
			    MER_EMAIL,
			    MER_NAME, 
			    MER_PHONE,
			    MER_DATE,
			    BANK,
			    BANK_NUMBER,
			    MER_NICK, 
			    STATUS, 
			    MER_IMG_ORIGINAL, 
			    MER_IMG_RENAME, 
			    MER_IDCARD,
			    CATE_NO, 
			    GREETING
		FROM MERCHANT
 	</sql>
 
 	<resultMap type="MerchantMember" id="merchantmemberResultMap">
 		<id property="merNo" column="MER_NO"/>
 		<result property="merId" column="MER_ID" />
 		<result property="merPassword" column="MER_PASSWORD"/>
 		<result property="merEmail" column="MER_EMAIL"/>
 		<result property="merName" column="MER_NAME"/>
 		<result property="merPhone" column="MER_PHONE"/>
 		<result property="merDate" column="MER_DATE"/>
 		<result property="Bank" column="BANK"/>
 		<result property="bankNumber" column="BANK_NUMBER"/>
 		<result property="merNick" column="MER_NICK"/>
 		<result property="status" column="STATUS"/>
 		<result property="merImgOriginal" column="MER_IMG_ORIGINAL"/>
 		<result property="merImgRename" column="MER_IMG_RENAME"/>
 		<result property="merIDCARD" column="MER_IDCARD"/>
 		<result property="cateNo" column="CATE_NO"/>
 		<result property="greeting" column="GREETING"/>
 		
 	</resultMap>
 	
 	<select id="selectMerchantMember" parameterType="string" resultMap="merchantmemberResultMap">
 		<include refid="selectMerchantMemberSql" />
		WHERE MER_ID = #{merId} AND STATUS ='Y'
 	</select>
 	
 	<insert id="insertMerchantMember" parameterType="MerchantMember"
 		useGeneratedKeys="true" keyColumn="MER_NO" keyProperty="merNo" >

		INSERT INTO MERCHANT (
			    MER_NO, 
			    MER_ID, 
			    MER_PASSWORD, 
			    MER_EMAIL,
			    MER_NAME, 
			    MER_PHONE,
			    MER_DATE,
			    BANK,
			    BANK_NUMBER,
			    MER_NICK,
			    STATUS, 
			    MER_IMG_ORIGINAL, 
			    MER_IMG_RENAME, 
			    MER_IDCARD,
			    CATE_NO,
			    GREETING 
		) VALUES(
			SEQ_MERNO.NEXTVAL, 
			#{merId},
			#{merPassword},
			#{merEmail},
			#{merName},
			#{merPhone},
			#{merDate},
			#{Bank},
			#{bankNumber},
			#{merNick},
			DEFAULT,
			#{merImgOriginal},
			#{merImgRename},
			#{merIDCARD},
			DEFAULT,
			#{greeting}
		)
 	</insert>
 </mapper>