<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.kh.mvc.merchant.model.mapper.MerchantMapper">

 	<sql id="selectMerchantMemberSql">
 		SELECT  MER_NO, 
			    MER_ID, 
			    MER_PASSWORD, 
			    MER_EMAIL,
			    MER_NAME, 
			    MER_PHONE,
			    MER_DATE,
			    BANK,
			    BANK_NUMBER,
			    MER_NICK, 
			    STATUS, 
			    MER_IMG_ORIGINAL, 
			    MER_IMG_RENAME, 
			    MER_IDCARD,
			    CATE_NO, 
			    GREETING
		FROM MERCHANT
 	</sql>
 


 	<sql id="ReservListSql">
		SELECT 
		RES_NO, 
		HB_NO, 
		MEM_NO, 
		RES_NAME, 
		RES_PHONE, 
		RES_COUNT, 
		RES_DATE, 
		TAKE_DATE, 
		PAY_FEE, 
		RES_ATTEND, 
		RES_STATUS, 
		CAL_STATUS 
		FROM RESERVE
		WHERE RES_STATUS = 'Y'
		AND HB_NO = #{hbNo}
	</sql>
	
 	<resultMap type="Merchant" id="merchantmemberResultMap">
 		<id property="merNo" column="MER_NO"/>
 		<result property="merId" column="MER_ID" />
 		<result property="merPassword" column="MER_PASSWORD"/>
 		<result property="merEmail" column="MER_EMAIL"/>
 		<result property="merName" column="MER_NAME"/>
 		<result property="merPhone" column="MER_PHONE"/>
 		<result property="merDate" column="MER_DATE"/>
 		<result property="bank" column="BANK"/>
 		<result property="bankNumber" column="BANK_NUMBER"/>
 		<result property="merNick" column="MER_NICK"/>
 		<result property="status" column="STATUS"/>
 		<result property="merImgOriginal" column="MER_IMG_ORIGINAL"/>
 		<result property="merImgRename" column="MER_IMG_RENAME"/>
 		<result property="merIDCARD" column="MER_IDCARD"/>
 		<result property="cateNo" column="CATE_NO"/>
 		<result property="greeting" column="GREETING"/>
 	</resultMap>
 	
 	<resultMap type="Reserve" id="ReservListResultMap">
		<id property="resNo" column="RES_NO"/>
		<result property="hbNo" column="HB_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="merNo" column="MER_NO"/>
		<result property="memId" column="MEM_ID" />
		<result property="resName" column="RES_NAME" />
		<result property="resPhone" column="RES_PHONE" />
		<result property="resCount" column="RES_COUNT" />
		<result property="resDate" column="RES_DATE" />
		<result property="takeDate" column="TAKE_DATE" />
		<result property="payFee" column="PAY_FEE" />
		<result property="resAttend" column="RES_ATTEND" />
		<result property="resStatus" column="RES_STATUS" />
		<result property="calStatus" column="CAL_STATUS" />
	</resultMap>
	
 	<select id="selectMerchantMember" parameterType="string" resultMap="merchantmemberResultMap">
 		<include refid="selectMerchantMemberSql" />
		WHERE MER_ID = #{merId} AND STATUS ='Y'
 	</select>
 	
 	<insert id="insertMerchantMember" parameterType="Merchant"
 		useGeneratedKeys="true" keyColumn="MER_NO" keyProperty="merNo" >

		INSERT INTO MERCHANT (
			    MER_NO, 
			    MER_ID, 
			    MER_PASSWORD, 
			    MER_EMAIL,
			    MER_NAME, 
			    MER_PHONE,
			    MER_DATE,
			    BANK,
			    BANK_NUMBER,
			    MER_NICK,
			    STATUS, 
			    MER_IMG_ORIGINAL, 
			    MER_IMG_RENAME, 
			    MER_IDCARD,
			    CATE_NO,
			    GREETING 
		) VALUES(
			SEQ_MERNO.NEXTVAL, 
			#{merId},
			#{merPassword},
			#{merEmail},
			#{merName},
			#{merPhone},
			#{merDate},
			#{bank},
			#{bankNumber},
			#{merNick},
			DEFAULT,
			#{merImgOriginal},
			#{merImgRename},
			#{merIDCARD},
			DEFAULT,
			#{greeting}
		)
 	</insert>
 	
 	<sql id="HobbyListSql">
		SELECT HB_NO,
		MER_NO,
		CATE_NO,
		HB_TITLE,
		HB_SUMMARY,
		HB_STARTDATE,
		HB_FEE,
		HB_DISCOUNT_RATE,
		HB_DISCOUNT_STATUS,
		HB_ENDDATE,
		HB_IMGS_ORI,
		HB_IMGS_RENAME,
		HB_THUM_ORI,
		HB_THUM_RENAME,
		HB_INFO,
		HB_LOCATION
		FROM HOBBY
		WHERE
		STATUS = 'Y'
	</sql>

	<sql id="cateListSql">
		SELECT
		CATE_NO,
		CATE_NAME
		FROM
		CATEGORY
	</sql>
	
	
	
	<resultMap type="Hobby" id="HobbyListResultMap">
		<id property="hbNo" column="HB_NO" />
		<result property="merNo" column="MER_NO" />
		<result property="cateNo" column="CATE_NO" />
		<result property="cateName" column="CATE_NAME" />
		<result property="hbTitle" column="HB_TITLE" />
		<result property="hbSummary" column="HB_SUMMARY" />
		<result property="hbFee" column="HB_FEE" />
		<result property="hbDiscountRate" column="HB_DISCOUNT_RATE" />
		<result property="hbDiscountStatus" column="HB_DISCOUNT_STATUS" />
		<result property="hbStartDate" column="HB_STARTDATE" />
		<result property="hbEndDate" column="HB_ENDDATE" />
		<result property="hbImgsOri" column="HB_IMGS_ORI" />
		<result property="hbImgsRename" column="HB_IMGS_RENAME" />
		<result property="hbThumOri" column="HB_THUM_ORI" />
		<result property="hbThumRename" column="HB_THUM_RENAME" />
		<result property="hbInfo" column="HB_INFO" />
		<result property="hbLocation" column="HB_LOCATION" />
		<result property="hbTotalFee" column="HB_TOTALFEE"/>
	</resultMap>
		
		
	<resultMap type="Category" id="CateListResultMap">
		<id property="cateNo" column="CATE_NO" />
		<result property="cateName" column="CATE_NAME" />
	</resultMap>
		
		
	<select id="selectCateList" parameterType="map"
		resultMap="CateListResultMap">

		<include refid="cateListSql" />

		ORDER BY CATE_NO DESC
	</select>

	<select id="selectCateNameByNo" parameterType="_int"
		resultType="String">
			SELECT CATE_NAME
			FROM CATEGORY
			WHERE CATE_NO=#{cateNo}
	</select>
	

	<select id="selectHobbyList" parameterType="map"
		resultMap="HobbyListResultMap">

		SELECT H.HB_NO,
		H.MER_NO,
		H.CATE_NO,
		C.CATE_NAME,
		H.HB_TITLE,
		H.HB_SUMMARY,
		H.HB_STARTDATE,
		H.HB_FEE,
		H.HB_DISCOUNT_RATE,
		H.HB_DISCOUNT_STATUS,
		H.HB_ENDDATE,
		H.HB_IMGS_ORI,
		H.HB_IMGS_RENAME,
		H.HB_THUM_ORI,
		H.HB_THUM_RENAME,
		H.HB_INFO,
		H.HB_LOCATION
		FROM HOBBY H
		JOIN CATEGORY C ON(H.CATE_NO = C.CATE_NO)
		WHERE H.STATUS = 'Y'

		ORDER BY
		H.HB_NO DESC
	</select>
	
	<select id="selectHobbyMerList" parameterType="map"
		resultMap="HobbyListResultMap">

		SELECT H.HB_NO,
		H.MER_NO,
		H.CATE_NO,
		C.CATE_NAME,
		H.HB_TITLE,
		H.HB_SUMMARY,
		H.HB_STARTDATE,
		H.HB_FEE,
		H.HB_DISCOUNT_RATE,
		H.HB_DISCOUNT_STATUS,
		H.HB_ENDDATE,
		H.HB_IMGS_ORI,
		H.HB_IMGS_RENAME,
		H.HB_THUM_ORI,
		H.HB_THUM_RENAME,
		H.HB_INFO,
		H.HB_LOCATION
		FROM HOBBY H
		JOIN CATEGORY C ON(H.CATE_NO = C.CATE_NO)
		WHERE H.STATUS = 'Y' 
		AND H.MER_NO = #{adNo} 

		ORDER BY
		H.HB_NO DESC
	</select>
	
	<select id="selectHobbyCount" parameterType="map"
		resultType="_int">
		SELECT COUNT(*)
		FROM HOBBY
		WHERE STATUS='Y'
	</select>
	
	<select id="selectReserveCount" parameterType="map"
		resultType="_int">
		SELECT COUNT(*)
		FROM RESERVE
		WHERE HB_NO=#{hbNo}
	</select>
	
	
	<select id="selectHobbyCalList" parameterType="map"
		resultMap="HobbyListResultMap">

	SELECT
		H.HB_NO,
		H.MER_NO,
		H.CATE_NO,
		C.CATE_NAME,
		H.HB_TITLE,
		H.HB_SUMMARY,
		H.HB_STARTDATE,
		H.HB_FEE,
		H.HB_DISCOUNT_RATE,
		H.HB_DISCOUNT_STATUS,
		H.HB_ENDDATE,
		H.HB_IMGS_ORI,
		H.HB_IMGS_RENAME,
		H.HB_THUM_ORI,
		H.HB_THUM_RENAME,
		H.HB_INFO,
		H.HB_LOCATION,
	(SELECT SUM(PAY_FEE) AS HB_TOTALFEE FROM RESERVE WHERE HB_NO=H.HB_NO AND CAL_STATUS='N') AS HB_TOTALFEE
	
	FROM HOBBY H
	JOIN CATEGORY C ON(H.CATE_NO = C.CATE_NO)
	WHERE H.STATUS = 'Y' 
	AND H.MER_NO = #{merNo}
	
	ORDER BY
	H.HB_NO DESC
	</select>
	


	<!-- 취미 검색 -->
	<select id="selectHobbyByNo" parameterType="_int"
		resultMap="HobbyListResultMap">
		<include refid="HobbyListSql" />
		AND HB_NO=#{hbNo}
	</select>
	

	<!-- 취미 등록 -->
	<insert id="insertHobby" parameterType="map"
		useGeneratedKeys="true" keyProperty="hbNo" keyColumn="HB_NO">
		INSERT INTO
		HOBBY(
		HB_NO,
		MER_NO,
		CATE_NO,
		HB_TITLE,
		HB_FEE,
		HB_DISCOUNT_RATE,
		HB_DISCOUNT_STATUS,
		HB_SUMMARY,
		HB_STARTDATE,
		HB_ENDDATE,
		HB_IMGS_ORI,
		HB_IMGS_RENAME,
		HB_THUM_ORI,
		HB_THUM_RENAME,
		HB_INFO,
		HB_LOCATION,
		STATUS
		)
		VALUES(
		SEQ_HOBBY_NO.NEXTVAL,
		1,
		#{cateNo},
		#{hbTitle},
		TO_NUMBER(#{hbFee}),
		TO_NUMBER(#{hbDiscountRate}),
		#{hbDiscountStatus},
		#{hbSummary},
		TO_DATE(#{hbStartDate},'YYYY-MM-DD'),
		TO_DATE(#{hbEndDate},'YYYY-MM-DD'),
		#{hbImgsOri},
		#{hbImgsRename},
		#{hbThumOri},
		#{hbThumRename},
		#{hbInfo},
		#{hbLocation},
		'Y'
		)
	</insert>
	
	
	
	
	<select id="selectReserveList" parameterType="map"
		resultMap="ReservListResultMap">
		SELECT 
		R.RES_NO, 
		R.HB_NO,
		H.MER_NO,
		R.MEM_NO, 
		R.RES_NAME, 
		R.RES_PHONE, 
		R.RES_COUNT, 
		R.RES_DATE, 
		R.TAKE_DATE, 
		R.PAY_FEE, 
		R.RES_ATTEND, 
		R.RES_STATUS, 
		R.CAL_STATUS 
		FROM RESERVE R
		JOIN HOBBY H ON(R.HB_NO=H.HB_NO)
		WHERE RES_STATUS = 'Y'
		AND RES_ATTEND = 'Y' 
		AND R.HB_NO = #{hbNo}
		AND R.CAL_STATUS='N'
		ORDER BY
		R.RES_DATE DESC
	</select>
	
	 <update id="reserveUpdateStatus" parameterType="Reserve">
 		UPDATE RESERVE
 		SET
 			CAL_STATUS = 'Y'
		WHERE RES_NO = #{resNo}
		
	</update>
 			
 			
	<insert id="insertCalApply" parameterType="map">
		INSERT INTO
		CALCULATION(
		CAL_NO,
		STATUS,
		PAY_NO,
		MER_NO
		)
		VALUES(
		SEQ_CAL_NO.NEXTVAL,
		DEFAULT,
		#{resNo},
		#{merNo}
		)
	</insert>


	<!--  상인이 개설한 취미의 개수(지영) -->
	<select id="selectHobbyCountByMerNo" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM HOBBY
		WHERE STATUS = 'Y'
		AND MER_NO = #{merNo}
	</select>
	
	<!-- 상인이 개설한 취미 목록 조회(지영)-->
	<select id="getHobbyListByMerNo" parameterType="_int"
		resultMap="HobbyListResultMap">
		<include refid="HobbyListSql" />
		AND MER_NO=#{merNo}
		
		ORDER BY HB_NO DESC
	</select>

	<!--  취미에 해당하는 예약 수 (지영) -->
	<select id="selectReserveCountByHbNo" parameterType="_int" resultType="_int">
		SELECT COUNT(*) 
			FROM RESERVE 
			WHERE HB_NO = #{hbNo} 
			AND RES_STATUS = 'Y'
	</select>
	
	<!--  취미에 해당하는 예약 목록 조회 (지영) -->
	<select id="getReserveListByHbNo" parameterType="_int"
		resultMap="ReservListResultMap">
		SELECT 
			R.RES_NO, 
			R.HB_NO, 
			R.MEM_NO, 
			H.MER_NO, 
			M.MEM_ID,
			R.RES_NAME, 
			R.RES_PHONE, 
			R.RES_COUNT, 
			R.RES_DATE, 
			R.TAKE_DATE, 
			R.PAY_FEE, 
			R.RES_ATTEND, 
			R.RES_STATUS, 
			R.CAL_STATUS 
		FROM RESERVE R
		JOIN HOBBY H ON(R.HB_NO = H.HB_NO) 
		JOIN MEMBER M ON(R.MEM_NO = M.MEM_NO) 
		WHERE R.HB_NO =#{hbNo}
		
		ORDER BY TAKE_DATE DESC
	</select>
	
 </mapper>