body{
    height : 95vh;
    /* align-items: center; */
}

.container{
    width : 90%;
    height : max-content;
    margin : 4%;
    padding : 2%;
    /*border : 1px solid #616161;*/
    text-align : center;
}

h1{
	text-align : center;	
}

table{
   border-spacing : 0 8px;
}

th{
   width : 180px;
   height : 20px;
   font-size : 20px;
}

input{
   height : 20px;
   font-size : 15px;
}

td{
   height : 20px;
   font-size : 15px;
}

.col1{
    width : 380px;
}

#hbTitle, #rpWriterId{
   border : none;
}

.btn{
    font-size : 18px;
    font-weight : bold;
    color : white;
    background-color: #0277bd;
    border : none;
    width : 150px;
    height : 33px;
    border-radius : 5px;
}

#btnContainer{
   padding-left : 15px;
}