#reviewAreaD{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: auto; 
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#reviewList #review{
	width:100%;
	color : #494949;
	border-bottom: 2px solid #ddd;
	overflow:hidden;
    height:auto;
	font-size: 14px;
	font-style: none;
	padding: 30px;
	
}

#reviewList #review #rvContent{
	display:block;
	padding: 20px 0;
}

#reviewImgs img{
	width: 100px;
	height: 100px;
	border-radius:5px;
	margin: 10px 2px;
}
#memInfo img{
	border:1px solid #ddd;
	border-radius:50px;
	width: 60px;
	height: 60px;
}

#memInfo{
	display: flex;	
	overflow:hidden;
    height:auto;
   padding: 5px 0 10px 0;

}
#memInfo div span{
	display: table;
	padding-left:10px; 
}

@media ( max-width : 1023px) {
   #reviewImgs img {
      width: 75px;
	height: 75px;
	border-radius:5px;
   }
}

@media ( max-width : 767px ) {
   #reviewImgs img {
      width: 50px;
	height: 50px;
	border-radius:5px;
   }
}
#sortReview{
	
	float: right;
}

