#reviewAreaD{
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: auto; 
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#reviewList #review{
	width:100%;
	color : #494949;
	border-bottom: 2px solid #ddd;
	overflow:hidden;
    height:auto;
	font-size: 14px;
	font-style: none;
	padding: 30px;
	
}

#reviewList #review #rvContent{
	display:block;
	padding: 20px 0;
}

#reviewImgs img{
	width: 100px;
	height: 100px;
	border-radius:5px;
	margin: 10px 2px;
}
#memInfo img{
	border:1px solid #ddd;
	border-radius:50px;
	width: 60px;
	height: 60px;
}

#memInfo{
	display: flex;	
	overflow:hidden;
    height:auto;
   padding: 5px 0 10px 0;

}
#memInfo div span{
	display: table;
	padding-left:10px; 
}

@media ( max-width : 1023px) {
   #reviewImgs img {
      width: 75px;
	height: 75px;
	border-radius:5px;
   }
}

@media ( max-width : 767px ) {
   #reviewImgs img {
      width: 50px;
	height: 50px;
	border-radius:5px;
   }
}
#sortReview{
	
	float: right;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
