.container{
    width : 1300px;
    height : max-content;
    margin-left : 5%;
    padding : 5%;
}

/* 상단 영역 분할*/
.top{
    width : 100%;
    height : 50%;
    display : flex;
}

#leftTop{
    float : left;
    width : 70%;
    height : 100%;
    margin-left : 10px;
    padding : 10px;
}
#rightTop{
    float : right;
    width : 30%;
    height : 100%;
    padding : 10px;
    padding-bottom : 2%;
    margin-left : 4%;
    margin-right : 4%;
    box-sizing : border-box;
}


/* 상단 영역 상세 속성*/
/* 상단 왼쪽 : 이미지 영역 */
.imgContainer{
    position : relative;
    top : 2px;
    left : -1%;
    width : 100%;
    height : 100%;
    /* border : 5px solid black;  */
}

#thumImgContainer{
    width : 100%;
    height : 400px;
    text-align: center;
}

#thumImg{
    width : 800px;
    height : 450px;
    object-fit: cover;
}

#addedImgContainer{
    border : 1.5px solid #eacc16;
    border-radius: 10px;
    margin : 10px;
    margin-top:8%;
    margin-left : 7%;
    width : 700px;
    display : flex;
    padding-left: 5%;
    overflow : hidden;
}

.addedImgDiv{
    /* border: 1px solid #ddd; */
    width : 100px;
    height : 50px;
    padding : 10px;
    display : flex;
    flex-direction: row;
    align-items : center;
    justify-content: space-around;
}
.arrow{
    color : #eacc16;
    font-size:15px;
}
#leftArrow, #rightArrow{
    position : relative;
    top : 15px;
}
#leftArrow{
    left : -10px;
}

#rightArrow{
    left : 10px;
}

.addImg{
    width : 80px;
    height : 45px;
    object-fit: cover;
}



/* 상단 오른쪽 : 취미 버튼 영역 */
.forBorder{
    border: 2px solid #ddd;
    border-radius: 5px;
    width : 340px;
    margin-right : 30px;
    box-sizing: border-box;
    padding : 25px;
    max-height: 95%;
}

.btnContainer{
    width : 320px;    
}

.btnContainer p{
    width : 300px;
}
#price{
	text-align : right;
}

.price {
   text-align: right;
   width: 90px;
}

.price span {
   width: 17px;
   height: 17px;
   display: inline-block;
   margin-right: 6px;
   cursor: pointer;
}

.price .discount {
   color: red;
}

.price del {
   color: #d3d3d3;
}

.finalPrice{
	font-size : 20px;
}

.btn{
    margin-left : 5px;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    padding : 5px 15px;
    cursor : pointer;
    border : none;
    text-align : center;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover{
    border: 1px solid dodgerblue;
    background-color: 0 0 5px #111934;
}

#btnPay, #btnPay2, #btnMerchantInfo{
    background-color: #34486b;
    color: #fff;
    width : 280px;
    font-size: 25px;
    font-weight: bold;
}

#btnLiked, #btnLiked2, #btnShare, #btnQuestion, #btnReport, #btnReport2{
    background-color: #34486b;
    color: #fff;
    width : 135px;
    font-size: 20px;
    font-weight: bold;
}


/* 메뉴바(middle) */
.middle{
    padding : 8px;
    /* border : 5px solid black;  */
    display : flex;
    justify-content : flex-start;
}

.menu{
    color : #111934;
    font-size : 32px;
    font-weight: bolder;
    text-align: center;
    flex-basis: 165px;
    padding-left : 15px;
}

.menu>span:hover{
    color : #eacc16;
    border-bottom: solid 3px;
    border-bottom-color: #eacc16;
}

/* 하단(bottom) : 취미 상세 내용 확인 가능한 영역 */
.bottom{
    margin-left : 20px;
    padding : 30px;
    display : flex;
    flex-direction: column;
    width : 1400px;
}
.bottomMenu{
    font-size : 23px;
    font-weight: bolder;
    color : #111934;
}
.bottom>span{
    width : 950px;
    padding : 15px;
    font-size : 25px;
}
.bottom>hr{
    width : 90%;
    color :  #d3d3d3;
}

.detail{
    font-size : 25px;
    font-weight : bolder;
    /* border : 1px solid black; */
}

#hbDetailInfo{
	width : 1200px;
	font-size : 20px;
}
#hobbyDetailImg{
	width : 1200px;
	overflow : hidden;
}

#locationD{
	font-size : 20px;
}

#map{
    width : 850px;
    height : 400px;
    padding : 20px;
}
#askD, #policyD{
    font-size: 20px;
    display : none;
}
#faq-toggle, #pol-toggle{
    cursor : pointer;
    color : #111934;
}

/* 공유하기 모달 */

.modal{ 
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal_share{ 
	width: 50%; 
	height: 20%; 
    background-color: white;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}
