a { text-decoration:none } 

.registerPage {
	color: blue;	
}
.agree_wrap{
	font-size: 13px;
	margin-bottom: 20px;
}
.memEnrollWrapper {
	margin-left: 33%;
	margin-right: 33%;
}

.memEnrollTitle {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: black;
	margin: 20px 0px 40px 0px;
}

.memEnrollLabel {
	display: inline-block;
	text-align: right;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 8px;
}

.memEnrollLabel_1{
	font-size: 13px;
}

.pwCheck{
	padding-top: 10px;
}

.enrollInput {
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.enrollInput:active {
   background-color: rgb(230, 243, 250);
}


#mSignup {
	text-align: center;
	margin: 5px;
}

.regex {
	font-size: 16px;
	padding: 5px 0;
	color: red;
}

.repw regex{
	padding: 15px 0;
}



/* 중복아이디 존재하지 않는경우 */
.id_input_re_1, .email_input_re_1{
		color : blue;
		display : none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2, .email_input_re_2{
		color : red;
		display : none;
}

.cateLabel {
	display:inline-block;
	width: 100px;
	line-height: 23px;
}

#enrollSubmit{
	cursor: pointer;
	background-color: rgb(32, 51, 84);
	color: white;
	font-weight: bold;
	font-size : 20px;
	margin-bottom:4px;
}

#enrollSubmit: active{
	barckground-color: white;
}


#kakaoSubmit{
	cursor: pointer;
	font-size : 20px;
	font-weight: bold;
	background-color: rgb(255, 232, 18);
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-position: 27% center;
	background-size: 40px;
}





