/* 검색 및 별점 */
#sortReview{
	border: 1px solid #ddd;
   	width: 150px;
   	padding : 10px;
	padding-bottom: 20px;
	padding: 10px;
   	box-sizing: border-box;
   	border-radius: 5px;
   	float: right;
} 

p.star_rating, p.star_rating_update{
	display: inline-block;
}
.star_rating, .star_rating_update {font-size:0; letter-spacing:-4px;}
.star_rating a, .star_rating_update a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ddd;
    text-decoration:none;
}
.star_rating a:first-child, .star_rating_update a:first-child {margin-left:0;}
.star_rating a.on, .star_rating_update a.on {color:#eacc16;}

.myScore{
	padding: 0 15px;
	font-size: 18px;
	color: #ddd;
	margin-left: 10px;
}
