
#reviewDiv{
	width: 1400px;
	margin: 40px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 5px;

}


/* 검색 및 별점 */
/* 검색영역 */
#searchDiv{
	display: inline-block;
	float: right;
}
/* 검색 select box */
#sortReview{
	border: 1px solid #ddd;
   	width: 300px;
   	padding : 10px;
	padding-bottom: 20px;
	padding: 6px;
   	box-sizing: border-box;
   	border-radius: 5px;

} 
/* 검색 버튼 */
#search{
	float: right;
	padding: 0 10px;
	color: #686868;
	font-size: 20px;
}



p.star_rating, p.star_rating_update{
	display: inline-block;
}
.star_rating, .star_rating_update {font-size:0; letter-spacing:-4px;}
.star_rating a, .star_rating_update a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ddd;
    text-decoration:none;
}
.star_rating a:first-child, .star_rating_update a:first-child {margin-left:0;}
.star_rating a.on, .star_rating_update a.on {color:#eacc16;}

.myScore{
	padding: 0 15px;
	font-size: 18px;
	color: #ddd;
	margin-left: 10px;
	
	display: inline-block;
}

#title{
	padding: 0 15px;
	font-size: 24px;
	color: #686868;
	margin-left:10px;
	display: block;
	margin-top:15px;

}
#avgScore{

	padding: 10px 0;
}


/* 리뷰 내용 */
#reviewListTitle{
	/* position: relative; */
}

#reviewList #review {
	width: 100%;
	color: #494949;
	border-top: 1px solid #ddd;
	overflow: hidden;
	height: auto;
	font-size: 14px;
	font-style: none;
	padding: 30px;
}


/* 아직 후기가 없습니다:( */
#noReview{
	padding: 30px;
	font-size: 24px;
	color: #686868;
	display: block;
	text-align: center;
}

#reviewList #review #rvContent {
	display: block;
	padding: 20px 70px;
}
#reviewImgs{
	padding: 0 70px;
}

#reviewImgs img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	margin: 10px 2px;
}

@media ( max-width : 1750px) {
	
	#reviewDiv{
		width: 1200px;
	}

}
@media ( max-width : 1670px) {
	
	#reviewDiv{
		width: 700px;
	
	}

}

@media ( max-width : 1023px) {
	
	#reviewDiv{
		width: 500px;
	}
	#reviewImgs img {
		width: 75px;
		height: 75px;
		border-radius: 5px;
	}
}

@media ( max-width : 767px ) {

	#reviewImgs img {
		width: 50px;
		height: 50px;
		border-radius: 5px;
	}
}



/* 회원 정보 */
#memInfo img {
	border: 1px solid #ddd;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}

#memInfo {
	display: flex;
	overflow: hidden;
	height: auto;
	padding: 5px 0 10px 0;
}

#memInfo div span {
	display: table;
	padding-left: 10px;
}

.likeReview{
	float: right;
}
